body {
    background-image:url('bg.jpg');
}


.container {
    height:100%;
    width:500px;
    border:solid 10px rgb(189, 2, 2);
    border-radius:15px;
    display:flex;
    flex-direction:column;
    margin:auto;
    box-shadow:5px 5px 10px rgba(0,0,0,.5);
    background-color:white;
}

.catHeading {
    margin:auto;
    font-family: 'Catamaran', sans-serif;
    background-color:white;
    width:300px;
    text-align:center;
    border:solid 10px rgb(189, 2, 2);
    box-sizing:border-box;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom:0px;
}

.catThumbnail {
    margin:auto;
    border:solid 1px black;
    margin-bottom:20px;
    box-shadow:0px 0px 5px rgba(0,0,0,.7);
    border-radius:5px;
}

.breedDescription {
    height:40px;
    font-size:15px;
    font-family: 'Catamaran', sans-serif;
    background-color:rgb(244, 244, 244);
    
}

.breedDescription select {
    height:40px;
    font-size:15px;
    font-family: 'Catamaran', sans-serif;
}



.catDescription, .catTemperament, .catAdaptability, .catAffection, .catChildFriendly, .catDogFriendly, .catEnergyLevel, .catGrooming,
.catHealthIssues, .catIntelligence {
    padding:0px 20px;
    margin:8px 0px;
}

.catDescription {
    text-indent:10px;
}

 .catIntelligence {
     margin-bottom:20px;
 }




.descriptionHeader {
        text-align:center;
        font-family: 'Catamaran', sans-serif;
    }

.catCanvas {
    height:450px;
    width:500px;
}


.catImg {
    height:450px;
    width:500px;
    background-image:url('royal.jpg');
    background-repeat:no-repeat;
    background-position-y:50px;
    background-position-x:15px;
}

.randomCatBtn, .descriptionBtn {
    height:50px;
    font-family: 'Catamaran', sans-serif;
    font-size:20px;
    font-weight:bolder;
    cursor:pointer;
    border:0px;
    background-color:rgb(189, 2, 2);
}

.randomCatBtn:hover, .descriptionBtn:hover {
    color:white;
}

.randomCatBtn:focus, .descriptionBtn:focus {
    outline:0;
}



